.menu{
    font-family: cursive;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-between;
    padding: 15px;
}

.menu a{
    color: #fff;
}

body{
    margin: auto;
    max-width: 720px;
    position: relative;
    height:100vh
}

.title{
    font-family: Georgia;
    font-size:xx-large;
    text-align: center;
}

p{
    font-style: italic;
    font-family: Georgia;
    text-align: center;
    display: block;
    
}


.section{
    text-align: center;
    font-family: Georgia;
}

.name{
    font-size: large;
    font-family: Georgia;
    text-align: center; 
}

.picture{
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;   
}

.about{
    font-family: Georgia;
    text-align: center;
}
.skills{
    font-family: Georgia;
    text-align: center;
}

table{
    border: medium solid black;
    border-collapse: collapse;
    width: 450px;
    margin: auto;
}

td, td , th{
    text-align: center;
    border: 1px solid black;
}

ul{
    display: block;
    list-style-type: center;
    margin: 8px;
    padding: 8px; 
}

.nav{
    display: block;
    background-color: rgb(194, 142, 242);
    list-style-type: none;
}

.answer{
    text-align: left;
    font-family: Arial;
    list-style-type: disc;
}

ul{
    display: inline-block;
    text-align: left;
}

ol{
    display: inline-block;
    text-align: left; 
}

.li1{
    margin-left: 250px;
}

.li2{
    margin-left: 21px;
    font-family: Arial;
}

.li3{
    margin-left: -90px;
    font-family: Arial;
}

.point{
    margin-left: 59px;
}

figure{
    border:thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img{
    max-width: 300px;
    max-height: 300px;
}

figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller - sans-serif;
    padding: 3px;
    text-align: center;
}

.container{
    text-align: center;
}

.copy{
    font-family: calibri;
    right: 0px;
    text-align: end;   
}

.space{
    line-height: 40px;
}

@media screen and (max-width:576px){
    .full-width-img{
        margin: auto;
        width: 60%;
    }
.nav{
    display: flex;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 30px;
   
    text-decoration: none;
}
.menu{
    flex-direction: column;
}
.text{
    margin-top: auto;
    font-size: larger;
    margin-right:25px;
    margin-left: 25px;
}
}

@media screen and (min-width: 768px){

}



@media screen (min-width:1200px){

}
    
